<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Passwords</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dist/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/dist/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


      <!--Load the AJAX API-->
    <script type="text/javascript" src="/static/dist/js/jsapi.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
-->
  </head>

  <body>

   <!--   Top Nav Bar ------------------- -->

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>

          </button>
          <a class="navbar-brand" href="#">Password Analyzer & Visualizer</a>
          <a class="navbar-brand" href="#">  </a>
          <a class="navbar-brand" href="#">  </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">Passwords For: <b>{{ clientName }}</b></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/uploadFiles">Upload Files</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>

        </div>
      </div>
    </nav>


    <!-- End of  Top Nav Bar ------------------- -->

    <div class="container-fluid">
      <div class="row">


          <!--  LEFT NAV
          ------------------------------ -->

        <div class="col-sm-3 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/summary">Summary </a></li>
            <li class="active"><a href="#">Detailed Passwords <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>

        <!--  Main Content Title
        ---------------------------------------- -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">




  <!--  Main Content
        ---------------------------------------- -->
 <div class="row">


    <!-- 1st Column -->

     <div class="col-xs-6 col-md-3" >
        <br>

         <!-- Table Password Length -->
           <div class="panel panel-primary">
            <div class="panel-heading">Most Common</div>
                <table class="table table-hover" >
                  <thead class="thead-inverse">
                    <tr>
                      <th class="col-md-2">Misc</th>
                      <th class="col-md-1">Value</th>
                      <th class="col-md-1">Count</th>
                    </tr>
                  </thead>
                    <tr>
                      <td>Most common</td>
                      <td><i>{{ most_common_pass['most_common_pass'] }}</i></td>
                      <td>{{ most_common_pass['most_common_pass_count'] }}</td>
                    </tr>
                    <tr>
                      <td>2nd most common</td>
                      <td><i>{{ most_common_pass['2nd most common'] }}</i></td>
                      <td>{{ most_common_pass['2nd most common count'] }}</td>
                    </tr>
                    <tr>
                      <td>3rd most common</td>
                      <td><i>{{ most_common_pass['3rd most common'] }}</i></td>
                      <td>{{ most_common_pass['3rd most common count'] }}</td>
                    </tr>
                    <tr>
                      <td>4th most common</td>
                      <td><i>{{ most_common_pass['4th most common'] }}</i></td>
                      <td>{{ most_common_pass['4th most common count'] }}</td>
                    </tr>
                    <tr>
                      <td>5th most common</td>
                      <td><i>{{ most_common_pass['5th most common'] }}</i></td>
                      <td>{{ most_common_pass['5th most common count'] }}</td>
                    </tr>
                    <tr>
                      <td>6th most common</td>
                      <td><i>{{ most_common_pass['6th most common'] }}</i></td>
                      <td>{{ most_common_pass['6th most common count'] }}</td>
                    </tr>
                     <tr>
                      <td>7th most common</td>
                      <td><i>{{ most_common_pass['7th most common'] }}</i></td>
                      <td>{{ most_common_pass['7th most common count'] }}</td>
                    </tr>
                     <tr>
                      <td>8th most common</td>
                      <td><i>{{ most_common_pass['8th most common'] }}</i></td>
                      <td>{{ most_common_pass['8th most common count'] }}</td>
                    </tr>
                    <tr>
                      <td>9th most common</td>
                      <td><i>{{ most_common_pass['9th most common'] }}</i></td>
                      <td>{{ most_common_pass['9th most common count'] }}</td>
                    </tr>
                     <tr>
                      <td>10th most common</td>
                      <td><i>{{ most_common_pass['10th most common'] }}</i></td>
                      <td>{{ most_common_pass['10th most common count'] }}</td>
                    </tr>
                 </table>
            </div>

      </div>



         <!-- 2nd Column -->
        <br>
         <div class="col-xs-6 col-md-3" >
            <div class="panel panel-primary">
                    <div class="panel-heading">Length of Characters</div>

                         <div class="table-responsive">
                             <table class="table table-striped" >
                              <thead class="thead-inverse">
                                <tr>
                                  <th class="col-md-2">Password Length</th>
                                  <th class="col-md-1">Count</th>
                                  <th class="col-md-1">% of pass</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Zero</td>
                                  <td>{{ password_length['zero'] }}</td>
                                  <td>{{ password_length['zero_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> One</td>
                                  <td>{{ password_length['one'] }}</td>
                                  <td>{{ password_length['one_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td>Two</td>
                                  <td>{{ password_length['two'] }}</td>
                                  <td>{{ password_length['two_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td>Three </td>
                                  <td>{{ password_length['three'] }}</td>
                                  <td>{{ password_length['three_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td>Four</td>
                                  <td>{{ password_length['four'] }}</td>
                                  <td>{{ password_length['four_percent'] }}</td>
                                </tr>

                                 <tr>
                                  <td> Five </td>
                                  <td>{{ password_length['five'] }}</td>
                                  <td>{{ password_length['five_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Six </td>
                                  <td> {{ password_length['six'] }}</td>
                                  <td>{{ password_length['six_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Seven </td>
                                  <td>{{ password_length['seven'] }}</td>
                                  <td>{{ password_length['seven_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Eight </td>
                                  <td>{{ password_length['eight'] }}</td>
                                  <td>{{ password_length['eight_percent'] }}</td>
                                </tr>
                                <tr>

                                  <td> Nine </td>
                                  <td>{{ password_length['nine'] }}</td>
                                  <td>{{ password_length['nine_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Ten </td>
                                  <td>{{ password_length['ten'] }}</td>
                                  <td>{{ password_length['ten_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Eleven </td>
                                  <td>{{ password_length['eleven'] }}</td>
                                  <td>{{ password_length['eleven_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Twelve </td>
                                  <td>{{ password_length['twelve'] }}</td>
                                  <td>{{ password_length['twelve_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Thirsteen </td>
                                  <td>{{ password_length['thirsteen'] }}</td>
                                  <td>{{ password_length['thirsteen_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Fourteen </td>
                                  <td>{{ password_length['fourteen'] }}</td>
                                  <td>{{ password_length['fourteen_percent'] }}</td>
                                </tr>
                                <tr>
                                  <td> Fifteen </td>
                                  <td>{{ password_length['fifteen'] }}</td>
                                  <td>{{ password_length['fifteen_percent'] }}</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>

                    </div>
         </div>


        <!-- 3rd column -->

     <div class="col-xs-6 col-md-3">

         <legend><h3>Miscellaneous</h3></legend>

           <div class="panel panel-primary">
            <div class="panel-heading">Total Unique Length</div>

                 <table class="table table-hover" >
                  <thead class="thead-inverse">
                    <tr>
                      <th class="col-md-2">Misc</th>
                      <th class="col-md-1">Count</th>
                      <th class="col-md-1">%</th>
                    </tr>
                  </thead>
                     <tr>
                      <td>Total passwords</td>
                      <td>{{total_passwords }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Unique Pass</td>
                      <td>{{unique_passwords}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>1-to-6 characters </td>
                      <td>{{password_length['over_eight_chars'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>1-to-8 characters </td>
                      <td>{{password_length['over_eight_chars'] }}</td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>More than 8 characters </td>
                      <td>{{password_length['zero_to_seven_chars'] }}</td>
                      <td></td>
                    </tr>
                     <tr>
                      <td>Contain Dates </td>
                      <td>-</td>
                      <td></td>
                    </tr>

                 </table>

                </div>


            <!-- Table Upper Lower Special -->

            <div class="panel panel-primary">
                <div class="panel-heading">Upper Lower Special</div>
                 <table class="table table-hover" >
                  <thead class="thead-inverse">
                    <tr>
                      <th class="col-md-2">Misc</th>
                      <th class="col-md-1">Count</th>
                      <th class="col-md-1">%</th>
                    </tr>
                  </thead>
                     <tr>
                      <td>Numbers only</td>
                      <td>{{ misc_pass['numbers_only'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Lower case</td>
                      <td>{{ misc_pass['lower_case_only'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Lower case with numbers</td>
                      <td>{{ misc_pass['lowercase_numbers'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Upper case</td>
                      <td>{{ misc_pass['upper_case_only'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Upper case with numbers</td>
                      <td>{{ misc_pass['uppercase_numbers'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Spacial chars only</td>
                      <td>{{ misc_pass['special_char_only'] }}</td>
                      <td></td>
                    </tr>
                  </table>
            </div>

     </div>


    <!-- 4th Column  -->

     <div class="col-xs-6 col-md-3">
          <br><br><br><br>

                 <!-- Table First - Last -->

            <div class="panel panel-primary">
                 <div class="panel-heading">First - Last</div>
                    <table class="table table-hover" >
                  <thead class="thead-inverse">
                    <tr>
                      <th class="col-md-2">Misc</th>
                      <th class="col-md-1">Count</th>
                      <th class="col-md-1">%</th>
                    </tr>
                  </thead>
                    <tr>
                      <td>First capital, last number</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_NUM_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First capital, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First letter, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First letter, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First number, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First number, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First symbol, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>First symbol, last symbol</td>
                      <td>{{ misc_pass['FIRST_CAP_LAST_SYMBOL_RE'] }}</td>
                      <td></td>
                    </tr>
                    </table>
            </div>

             <div class="panel panel-primary">
                <div class="panel-heading">Ending With</div>
                 <table class="table table-hover" >
                  <thead class="thead-inverse">
                    <tr>
                      <th class="col-md-2">Misc</th>
                      <th class="col-md-1">Count</th>
                      <th class="col-md-1">%</th>
                    </tr>
                  </thead>
                    <tr>
                      <td>Ending with 1 number</td>
                      <td>{{ misc_pass['SINGLES_ON_END_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Ending with 2 numbers</td>
                      <td>{{ misc_pass['DOUBLES_ON_END_RE'] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Ending with 3 numbers</td>
                      <td>{{ misc_pass['TRIPLES_ON_END_RE'] }}</td>
                      <td></td>
                    </tr>
                  <tbody>

                 </table>
            </div>

     </div>


 </div>





 <!-- Second Row -->
<div class="row">

         <div class="col-xs-6 col-md-3">
         <br>




         </div>


         <div class="col-xs-6 col-md-3">


         </div>

            <!-- Table Ending With  -->
        <div class="col-xs-6 col-md-3">


        </div>


     </div>


    <div class="col-xs-6 col-md-3">

    </div>

</div>

</div>






        </div>


        </div>









        </div>










      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/dist/js/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/dist/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
</html>
