<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Summary</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dist/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/dist/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(function () {
    Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['Number of users:', 'Number of LMs:', 'Usernames contain the <b>ADMIN</b> word:', 'Usernames contain the <b>TEST</b> word:', 'Usernames contain the <b>{{ client_name }}</b> name:','Service accounts:'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Users',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' users'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Number of users',
            data: [{{ numberOfUsers }}, {{ numberOfLM }}, {{ usersContainAdmin }}, {{ users_contain_test }}, {{ users_contain_companyName }},{{ users_contain_serviceAccount }} ]


        }]
    });
});
</script>

<script>
    $(function () {
    Highcharts.chart('password_chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Password Length'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Zero',
                'One',
                'Two',
                'Three',
                'Four',
                'Five',
                'Six',
                'Seven',
                'Eight',
                'Nine',
                'Ten',
                'Eleven',
                    'Twelve'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Passwords'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:14px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.01,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Passwords',
            data: [{{ password_length['zero'] }}, {{ password_length['one'] }}, {{ password_length['two'] }}, {{ password_length['three'] }}, {{ password_length['four'] }}, {{ password_length['five'] }},
                   {{ password_length['six'] }}, {{ password_length['seven'] }}, {{ password_length['eight'] }}, {{ password_length['nine'] }},
                   {{ password_length['ten'] }}, {{ password_length['eleven'] }},{{ password_length['twelve'] }}]

        }]
    });
});
</script>

<script>
    $(function () {
    Highcharts.chart('half_pie', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: '{{ numberOfUsers }} <br>Users<br>',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: '-',
            innerSize: '50%',
            data: [
                ['Cracked',  {{ Cracked }} ],
                ['Not Cracked', {{ Not_Cracked }}  ],
                {
                    name: 'Proprietary or Undetectable',
                    y: 0.2,
                    dataLabels: {
                        enabled: false
                    }
                }
            ]
        }]
    });
});



</script>





  </head>

  <body>

  <!--   Top Nav Bar ------------------- -->

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>

          </button>
          <a class="navbar-brand" href="#">Password Analyzer & Visualizer</a>
          <a class="navbar-brand" href="#">  </a>
          <a class="navbar-brand" href="#">  </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">  </a>
            <a class="navbar-brand" href="#">Summary For: <b>{{ client_name }}</b></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/uploadFiles">Upload Files</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>

        </div>
      </div>
    </nav>


    <!-- End of  Top Nav Bar ------------------- -->


    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-1 sidebar">

          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Summary <span class="sr-only">(current)</span></a></li>
            <li ><a href="/passwordAudit">Detailed Passwords</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>

      <div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">



<div class="row">


  <div class="col-xs-6 col-md-3">

      <!--  Users Table    -->

      <div class="panel panel-primary">

               <table class="table table-hover">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Users</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Number of users:</td>
                      <td>{{ numberOfUsers }}</td>
                    </tr>
                    <tr>
                      <td> Number of LMs:</td>
                      <td>{{ numberOfLM }}</td>
                    </tr>
                    <tr>
                      <td>Usernames contain the <b>ADMIN</b> word:</td>
                      <td> {{ usersContainAdmin }}</td>
                    </tr>
                    <tr>
                      <td>Usernames contain the <b>TEST</b> word: </td>
                      <td>  {{ users_contain_test }}</td>
                    </tr>
                    <tr>
                      <td>Usernames contain the <b style="text-transform:uppercase">{{ client_name }}</b> name: </td>
                      <td> {{ users_contain_companyName }}</td>
                    </tr>

                     <tr>
                      <td> Service accounts:  </td>
                      <td> {{ users_contain_serviceAccount }}</td>
                    </tr>
                  </tbody>
                </table>
      </div>
  </div>


   <!--  Users Graph -->

  <div class="col-xs-6 col-md-4">
        <div id="container" style="min-width: 310px; max-width: 1000px; height: 400px; margin: 0 auto"></div>
  </div>


   <!-- Pie Chart  -->

  <div class="col-xs-6 col-md-4">
    <div id="half_pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
 </div>

</div>


  <!-- --------- Second ROW -->


<div class="row">

    <br>


    <!--  Password Column Table      -->

      <div class="col-xs-6 col-md-3">

         <h4><b><u>Passwords</u></b></h4>
            <div class="panel panel-primary">
                 <table class="table table-hover">
                  <thead class="thead-inverse">

                  </thead>
                  <tbody>
                    <tr>
                      <td>Total cracked</td>
                      <td>{{ Cracked }}</td>
                    </tr>
                    <tr>
                      <td>Most common password</td>
                      <td><strong><em>{{ most_common_pass['most_common_pass'] }}</em></strong></td>
                    </tr>
                     <tr>
                      <td>Characters for the most password</td>
                      <td>{{ most_common_single_pass[0][0] }} ({{ most_common_single_pass[0][1] }})</td>
                    </tr>
                     <tr>
                      <td>Passwords with less than 8 characters</td>
                      <td>{{password_length['zero_to_seven_chars']}}</td>
                    </tr>
                     <tr>
                      <td><b>ADMINs</b> with weak passwords </td>
                      <td>{{ Admins }}</td>
                    </tr>
                    <tr>
                      <td><b>TESTs</b> with weak passwords</td>
                      <td>{{ Tests }}</td>
                    </tr>

                  </tbody>
                 </table>
            </div>
          <br>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>



    </div>




    <!-- Password Length Graph -->

        <div class="col-xs-6 col-md-4">

         <div id="password_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        </div>



    <!-- Pwned Area -->

      <div class="col-xs-6 col-md-4" style="padding-left: 50px;">
           <h4><b><u>Check for a Compromised Account</u></b></h4>

                      This feature allows you to check for a compromise account found in the dark web:
                     <br>
                     Warning! user input is sent over the Internet!
                    <br>
                    <form id="form-signin" action="/summary" method="post" role="form">
                     <input type=email name=username placeholder="username@company.com" required autofocus>
                     <br>

                        <button class="btn btn-sm btn-primary btn-block" type="submit">Submit </button>
                    </form>
                      <br>

                      <div id="response">
                         <pre></pre>
                     </div>
                      <br>
                    Curtesy of: "Have I been pwned?"<br>
                        https://haveibeenpwned.com
                    <br>
      </div>

<script>
    $(function() {
        $('button').click(function() {
            var user = $('#txtUsername').val();
            var pass = $('#txtPassword').val();
            $.ajax({
                url: '/signUpUser',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</div>



    </div>


    </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/dist/js/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/dist/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
